body {
    background-color: #E8F5E9;
}

h1 {
    color: #8D6E63;
    margin-left: 30%;
}

.menu {
    position: absolute;
    top: 90px;
    left: 10px;
    z-index: 999;
}

/* BOTÃO DO MENU */

.menu button {
    padding: 10px 30px;
    background: #8D6E63;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.menu:hover .opções-menu {
    display: block;
}

/* BOTÃO DO MENU */

/* OPÇÕES DO BOTÃO DO MENU */

.opções-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #FAF7F2;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 150px;
    padding: 5px 0;
    text-decoration: none;
    color: #4E342E
}

.opções-menu a {
    display: block;
    padding: 10px 12px;
    text-decoration: none;
    color: #4E342E
}

/* OPÇÕES DO BOTÃO DO MENU */

.opções-menu a:hover {
    background: #D7CCC8;
}

.submenu-contato {
    display: none;
}

.contato-wrapper:hover .submenu-contato {
    display: inline-block;
    margin-left: 20px;
}

.contato-toggle {
    margin-left: 14px;
    margin-top: 6px;
}

.contato-toggle:hover {
    background: #D7CCC8;
}

.logo-link {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
}

/* Ajusta a logo */
.logo {
  width: 250px;
  height: auto;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    padding: 20px;
    justify-content: left;
    margin-left: 12%;
}

.galeria .item-container {
    position: relative;
    width: 200px;
    height: 200px;
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.item-container:hover img {
    transform: scale(1.05);
    transition: transform 0.3s;
    cursor: pointer;
}

.label {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 30px;
    background: #8D6E63;
    color: white;
    font-weight: 600;
    font-size: 14px;
    pointer-events: none;
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}